﻿<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/bootstrap")
	@Styles.Render("~/styles")
</head>
<body>
	
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				</div>
				<div id="navbar" class="navbar-collapse collapse">
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    
                    <div ui-view></div>

				</div>
				<div class="col-sm-3 col-md-2 sidebar">
					<div ng-controller="teamController">

						<form novalidate="novalidate" class="form-horizontal new-team" name='addNewTeamForm'>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="newTeamName" required ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="add new team...">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default" ng-disabled="!addNewTeamForm.$valid" ng-click="addNewTeam(newTeamName)">Add</button>
								</div>
							</div>
						</form>

						<ul class="nav nav-sidebar">
							<li ng-class="{active: teamViewModel.selected}" ng-repeat="teamViewModel in teamViewModels">
								<div class="panel-heading" ng-click="toggleTeamSelection(teamViewModel)">
									<a href="" ng-click="toggleExpand($event, teamViewModel)">{{ teamViewModel.title }}</a>
								</div>
								<div ng-show="teamViewModel.expanded" class="panel-body cssSlideUp" ng-animate="'box'">
									<div>
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="member in teamViewModel.members">
												{{ member.name }}
												<button type="button" ng-click="onRemoveEmployee(member)" class="btn btn-default btn-xs remove-employee ">
													<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
													Remove
												</button>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	@Scripts.Render("~/ng")
	@Scripts.Render("~/app")
	@Scripts.Render("~/jquery")
</body>
</html>

