﻿body {
}

.site-header {
    /*color: #F2EFDC;*/
    padding: 10px;
}

.user-status a a:visited {
    color: orangered;
}

.user-status a:active a:hover {
    color: red;
}

.site-status {
    margin-top: 10px;
    /*color: white;*/
}

.site-footer {
    background-color: #808080;
    color: #404040;
}

.site-footer footer {
    margin: 10px;   
}

.site-body {
    background-color: #f8f7f2;
    color: #404040;
    padding: 10px;
}

.site-username-status {
    list-style-type: none;
    display: inline;
}

.site-login {
    
}

.home-consumer {
    /*background-color: #888888;*/
}

.home-contractor {
    /*background-color:#888666;*/
}

.dashboard-btn {
    margin-top: 15px;
}

.thumbnail_max_size {
    max-height: 100px;
}

.strike {
  text-decoration: line-through;
}



.margin-top-5 {
    margin-top:5px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-5 {
    margin: 5px;
}

.session-alert {
    width:100%;
    margin-top: 5px;
}
.session-alert-btn-wrapper {
    padding: 10px;
}

.panel-title.selected {
    background: green;
}

input.typeahead-input {
    width: 100%
}

.nav > div > a:hover, .nav > div > a:focus {
text-decoration: none;
background-color: #eee;
}
.nav-sidebar > div > a {
padding-right: 20px;
padding-left: 20px;
}
.nav > div > a {
position: relative;
display: block;
padding: 10px 15px;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssSlideUp {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssSlideUp.ng-hide {
     opacity: 0;
}

.team-title-placeholder {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}

form.new-team {
    padding-bottom: 20px;
}

.panel-heading {
    padding-left: 20px;
}

.tab {
    padding: 20px;
}

.tab-two > div > i.glyphicon.glyphicon-search.form-control-feedback {
    line-height: 0px;
    top: 17px;
}

.table tbody.active tr th,
.table tbody.active tr td {
	  color: #31708f;
	  background-color: #d9edf7;
	  border-color: #bce8f1;
}

.simple-tooltip {
	position: static
}

.table-striped > tbody > tr > td.table-tooltip, .table-striped > tbody > tr > th.table-tooltip {
	border: none;
	background-color: #FFFFFF;
}
.table-striped > tbody > tr {
	height: 90px;
}


.table-striped {
	border-collapse: inherit;
}

.remove-employee {
	float: right;
}