﻿<div ng-controller="employeeController">
    <ul class="nav nav-tabs">
        <li ng-class="{active: $state.includes('activeTeam.tabOne')}"><a data-toggle="tab" ui-sref="activeTeam.tabOne">One</a></li>
        <li ng-class="{active: $state.includes('activeTeam.tabTwo')}"><a data-toggle="tab" ui-sref="activeTeam.tabTwo">Two</a></li>
    </ul>
    <div ui-view></div>
</div>