﻿<div class="tab" ng-controller="employeeTabOneController">
	<div>
		<typeahead 
				   all-items="employeeViewModels"
				   selected-items="selectedEmployeeViewModels"
				   placeholder="start typing name, grade, specialization"
				   on-selected="onEmployeeSelected(item)"
				   on-removed="onEmployeeRemoved(item)"
				   title="name">
		</typeahead>
		<button ng-click="onRefresh()">Refresh</button>
	</div>
</div>