﻿<div class="tab tab-two" ng-controller="employeeTabTwoController">
	<div class="form-group has-feedback">
		<input type="text" class="form-control" ng-model="searchText" placeholder="Filter" />
		<i class="glyphicon glyphicon-search form-control-feedback"></i>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-md-2">Name</th>
					<th class="col-md-1">Job Title</th>
					<th class="col-md-1">Age</th>
					<th class="col-md-1"></th>
					<th class="col-md-4 table-tooltip"></th>
				</tr>
			</thead>
            <tbody ng-repeat="employeeViewModel in employeeViewModels| multiwordsFilter:searchText" ng-click="onSelectEmployee(employeeViewModel)" ng-class="{'active' : employeeViewModel.selected }" tooltip tooltip-selector="#tooltip" class="simple-tooltip">
                <tr>
                    <td>{{ employeeViewModel.name }}</td>
                    <td>{{ employeeViewModel.job }}</td>
                    <td>{{ employeeViewModel.age }}</td>
                    <td>
                        <button type="button" ng-click="onAddEmployee($event, employeeViewModel)" ng-hide="isTeamMember(employeeViewModel)" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add
                        </button>
                    </td>
                    <td class="table-tooltip">
                        <div style="display:none" id="tooltip">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{ employeeViewModel.employeeSkillsDisplayText() }}
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr ng-show="employeeViewModel.selected" ng-repeat="feedback in employeeViewModel.feedbacks" class="cssSlideUp">
                    <th colspan="4">
                        Feedback: {{ feedback.text }}
                    </th>
                </tr>
            </tbody>
		</table>
	</div>
</div>