﻿<div class="twitter-typeahead">
    <div class="form-group">
        <div class="tokenfield form-control">
            <input type="text" class="form-control" id="tokenfield-1" value="red,green,blue" placeholder="Type something and hit enter" tabindex="-1" style="position: absolute; left: -10000px;">
            <input type="text" tabindex="-1" style="position: absolute; left: -10000px;">

            <div class="token" ng-repeat="selectedItem in selectedItems | orderBy:'selectedItem.name'">
                <span class=" token-label" style="max-width: 770px;">
                    {{selectedItem.shortDisplayText()}}
                </span>
                <a ng-click="removeItem(selectedItem)" class="close" tabindex="-1">×</a>
            </div>
            <input type="text" ng-model="searchText" placeholder="{{placeholder}}" ng-keydown="selected=false" class="token-input" autocomplete="off" id="tokenfield-1-tokenfield" tabindex="0" style="min-width: 60px; width: 667px;">
        </div>
    </div>

    <div ng-hide="!searchText.length || selected">
        <ul class="dropdown-menu" style="display: block; position: inherit;margin-top: -15px;width:100%">
			<li ng-repeat="item in notSelectedItems | filter:searchText  track by $index" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)" ng-click="selectItem(item)">
				<a href="">{{item.displayText()}}</a>
			</li>
        </ul>
    </div>
</div>